ion-title{
    text-align: center;
}
ion-card{
    border: 1px #ffc61a solid;

}
ion-card-title{
    color: #143C5A;
}
.lblColor{
    color: #143C5A;
}
.cardfooter{
    border-top: 1px #ffc61a solid;
    font-weight: bold;
   
}
.lblStyle-footer{
    color: #ffc61a;
}
.icon-footer{
    color: #ffc61a;
}