<ion-header>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>LifeSuper20</ion-card-title>
      </ion-card-header>
      <ion-item detail text-wrap>
        <ion-label>
          <h2 class="lblColor">Policy No: 601007042</h2>
          <h2 class="lblColor">Status:Inforce</h2>
        </ion-label>
      </ion-item>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-label>Sum Assured:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 5,900,000</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Surrender Value:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 240,770</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Modal Premium / Regular Contribution including Levy</ion-label>
          </ion-col>
          <ion-col>
            <ion-label></ion-label>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
      <ion-row class="cardfooter">
        <ion-col>
          <ion-item lines="none">
            <ion-icon name="alert-outline" slot="start" class="icon-footer"></ion-icon>
            <ion-label text-wrap class="lblStyle-footer">
              Premium of HKD 1,280.90 due in 3 days
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Sun Architect</ion-card-title>
      </ion-card-header>
      <ion-item detail text-wrap>
        <ion-label>
          <h2 class="lblColor">Policy No: 201491780</h2>
          <h2 class="lblColor">Status:Inforce</h2>
        </ion-label>
      </ion-item>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-label>Contribution Amount:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 11,066</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Fund Balance:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 10,539</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Surrender Value:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 7,337</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Modal Premium / Regular Contribution including Levy</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 3,441.00</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Critical Medical Care Plan II</ion-card-title>
      </ion-card-header>
      <ion-item detail text-wrap>
        <ion-label>
          <h2 class="lblColor">Policy No: 048267442</h2>
          <h2 class="lblColor">Status:Inforce</h2>
        </ion-label>
      </ion-item>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-label>Amount of Benefit:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 500,000</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Modal Premium / Regular Contribution including Levy</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 3,441.00</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>SunEducator 5</ion-card-title>
      </ion-card-header>
      <ion-item detail text-wrap>
        <ion-label>
          <h2 class="lblColor">Policy No: 60158494</h2>
          <h2 class="lblColor">Status:Inforce</h2>
        </ion-label>
      </ion-item>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-label>Amount of Benefit:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 25,000</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Cash Value*:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 2,046</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Surrender Value:</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 2,251</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Modal Premium / Regular Contribution including Levy</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>HKD 3,441.00</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>